
$blue-primary:#0014CB;
$blue-primary-light: #28357D;
$blue-primary-dark: #161A3F;


$yellow-primary:#E8D524;
$yellow-primary-light:#E6E168;
$yellow-primary-dark: #A6922A;

$botao: #7A0DE7;

$white-bg: #FBFBFB;
$white-bg2:#FFF0F0;

$black: #000000;